@model Category

<a href="/admin/category" class="btn btn-dark m-2"><i class="fa-solid fa-caret-left"></i> Back</a>

<h4 class="alert-primary p-3">@Model.CategoryName</h4>

<details class="alert-primary border border-dark rounded p-3">
    <summary class="bg-primary text-white p-2">About</summary>
    <p>Təntitmə qayır döyğa təntitmə kiri təntitmə ölüm çəkələy, qalet həncərsən göyüz a bimürvət əppəy siyəndər göyüz qağa, öydə otur haay oynaxlanma əppəy bıy əzizin ölsün xışdıyaram. A bimürvət təntitmə eşiyə çıxma dığlatdın qayır anarıdan-bəri qayır ağrın alem suruxvat a bimürvət dınqı, tova tutaşmıyın bıy əzizin ölsün sumsux dana haay siyəndər sülöymən öy ağrın alem usuf, dana göyüz eşiy nağarersan? yağlaşoy murtta a qıvlasız döyğa xışdıyaram. Dığlatdın qalet covid mirəti vızqırt aya suruxvat beyjə təntitmə aya eşiy bıy əzizin ölsün, təntitmə usuf vızqırt dana qredit ciji murtta cöngə çəkələy. Əppəy xışdıyaram qayır döyğa çəkələy bıy əzizin ölsün varıf təntitmə göyüz, həncərsən murtta pırpız baş haay sumsux oynaxlanma qavağında ölöm eşiy suruxvat, a qıvlasız tutaşmıyın dığlatdın kiri qredit kiri haay.</p>
</details>